web/WEB-INF/wsdl/localhost_8085/WEB_SERVICES/Agent.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WS.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS.com/">

<xs:element name="AddOperation" type="tns:AddOperation" />

<xs:element name="AddOperationResponse" type="tns:AddOperationResponse" />

<xs:element name="AddPatien" type="tns:AddPatien" />

<xs:element name="AddPatienResponse" type="tns:AddPatienResponse" />

<xs:element name="AfficherOperation" type="tns:AfficherOperation" />

<xs:element name="AfficherOperationResponse" type="tns:AfficherOperationResponse" />

<xs:element name="ListMedecins" type="tns:ListMedecins" />

<xs:element name="ListMedecinsResponse" type="tns:ListMedecinsResponse" />

<xs:element name="ListeNomMedecins" type="tns:ListeNomMedecins" />

<xs:element name="ListeNomMedecinsResponse" type="tns:ListeNomMedecinsResponse" />

<xs:element name="ListePatiens" type="tns:ListePatiens" />

<xs:element name="ListePatiensResponse" type="tns:ListePatiensResponse" />

<xs:complexType name="ListMedecins">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ListMedecinsResponse">
<xs:sequence>
<xs:element name="return" type="tns:medecins" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="medecins">
<xs:sequence>
<xs:element name="id_Med" type="xs:int" />
<xs:element name="nom" type="xs:string" minOccurs="0" />
<xs:element name="nom_cabinet" type="xs:string" minOccurs="0" />
<xs:element name="specilite" type="xs:string" minOccurs="0" />
<xs:element name="tel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddOperation">
<xs:sequence>
<xs:element name="ID_pat" type="xs:int" />
<xs:element name="nom_medecin_prv" type="xs:string" minOccurs="0" />
<xs:element name="cause_medical" type="xs:string" minOccurs="0" />
<xs:element name="num_B" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AfficherOperation">
<xs:sequence />
</xs:complexType>

<xs:complexType name="AfficherOperationResponse">
<xs:sequence>
<xs:element name="return" type="tns:operation" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="adress" type="xs:string" minOccurs="0" />
<xs:element name="billan" type="xs:string" minOccurs="0" />
<xs:element name="cause_medecal" type="xs:string" minOccurs="0" />
<xs:element name="compte_rendu" type="xs:string" minOccurs="0" />
<xs:element name="dateOperation" type="xs:string" minOccurs="0" />
<xs:element name="date_n" type="xs:string" minOccurs="0" />
<xs:element name="etat_chu" type="xs:string" minOccurs="0" />
<xs:element name="etat_med" type="xs:string" minOccurs="0" />
<xs:element name="id_operation" type="xs:int" />
<xs:element name="id_pat" type="xs:int" />
<xs:element name="medecin_operation" type="xs:string" minOccurs="0" />
<xs:element name="nom" type="xs:string" minOccurs="0" />
<xs:element name="nom_medecin_prv" type="xs:string" minOccurs="0" />
<xs:element name="prenom" type="xs:string" minOccurs="0" />
<xs:element name="sex" type="xs:string" minOccurs="0" />
<xs:element name="tel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddPatien">
<xs:sequence>
<xs:element name="Nom" type="xs:string" minOccurs="0" />
<xs:element name="Prenom" type="xs:string" minOccurs="0" />
<xs:element name="Date_naicence" type="xs:string" minOccurs="0" />
<xs:element name="Sex" type="xs:string" minOccurs="0" />
<xs:element name="TEL" type="xs:string" minOccurs="0" />
<xs:element name="addres" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddPatienResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListeNomMedecins">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ListeNomMedecinsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListePatiens">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ListePatiensResponse">
<xs:sequence>
<xs:element name="return" type="tns:patients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="patients">
<xs:sequence>
<xs:element name="adress" type="xs:string" minOccurs="0" />
<xs:element name="date_n" type="xs:string" minOccurs="0" />
<xs:element name="id_pat" type="xs:int" />
<xs:element name="nom" type="xs:string" minOccurs="0" />
<xs:element name="prenom" type="xs:string" minOccurs="0" />
<xs:element name="sex" type="xs:string" minOccurs="0" />
<xs:element name="tel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>