web/WEB-INF/wsdl/localhost_8085/WEB_SERVICES/LABO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS.com/" name="LABO">
<types>
<xsd:schema>
<xsd:import namespace="http://WS.com/" schemaLocation="http://localhost:8085/WEB_SERVICES/LABO?xsd=1" />
</xsd:schema>
</types>
<message name="AjouterBillan">
<part name="parameters" element="tns:AjouterBillan" />
</message>
<message name="AjouterBillanResponse">
<part name="parameters" element="tns:AjouterBillanResponse" />
</message>
<message name="ListeBillan">
<part name="parameters" element="tns:ListeBillan" />
</message>
<message name="ListeBillanResponse">
<part name="parameters" element="tns:ListeBillanResponse" />
</message>
<message name="ListePatiens">
<part name="parameters" element="tns:ListePatiens" />
</message>
<message name="ListePatiensResponse">
<part name="parameters" element="tns:ListePatiensResponse" />
</message>
<portType name="LABO">
<operation name="AjouterBillan">
<input wsam:Action="http://WS.com/LABO/AjouterBillanRequest" message="tns:AjouterBillan" />
<output wsam:Action="http://WS.com/LABO/AjouterBillanResponse" message="tns:AjouterBillanResponse" />
</operation>
<operation name="ListeBillan">
<input wsam:Action="http://WS.com/LABO/ListeBillanRequest" message="tns:ListeBillan" />
<output wsam:Action="http://WS.com/LABO/ListeBillanResponse" message="tns:ListeBillanResponse" />
</operation>
<operation name="ListePatiens">
<input wsam:Action="http://WS.com/LABO/ListePatiensRequest" message="tns:ListePatiens" />
<output wsam:Action="http://WS.com/LABO/ListePatiensResponse" message="tns:ListePatiensResponse" />
</operation>
</portType>
<binding name="LABOPortBinding" type="tns:LABO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="AjouterBillan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListeBillan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListePatiens">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="LABO">
<port name="LABOPort" binding="tns:LABOPortBinding">
<soap:address location="http://localhost:8085/WEB_SERVICES/LABO" />
</port>
</service>
</definitions>