src/conf/xml-resources/web-service-references/Chirurgical/wsdl/localhost_8085/WEB_SERVICES/Chirurgical.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WS.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS.com/">

<xs:element name="AllouerResource" type="tns:AllouerResource" />

<xs:element name="AllouerResourceResponse" type="tns:AllouerResourceResponse" />

<xs:element name="ConfirmerOperation" type="tns:ConfirmerOperation" />

<xs:element name="ConfirmerOperationResponse" type="tns:ConfirmerOperationResponse" />

<xs:element name="DisponinibibiliteMedecin" type="tns:DisponinibibiliteMedecin" />

<xs:element name="DisponinibibiliteMedecinResponse" type="tns:DisponinibibiliteMedecinResponse" />

<xs:element name="DisponinibibiliteResource" type="tns:DisponinibibiliteResource" />

<xs:element name="DisponinibibiliteResourceResponse" type="tns:DisponinibibiliteResourceResponse" />

<xs:element name="ListeOperation" type="tns:ListeOperation" />

<xs:element name="ListeOperationResponse" type="tns:ListeOperationResponse" />

<xs:element name="RecupereDateOperation" type="tns:RecupereDateOperation" />

<xs:element name="RecupereDateOperationResponse" type="tns:RecupereDateOperationResponse" />

<xs:complexType name="ListeOperation">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ListeOperationResponse">
<xs:sequence>
<xs:element name="return" type="tns:operation" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="adress" type="xs:string" minOccurs="0" />
<xs:element name="billan" type="xs:string" minOccurs="0" />
<xs:element name="cause_medecal" type="xs:string" minOccurs="0" />
<xs:element name="compte_rendu" type="xs:string" minOccurs="0" />
<xs:element name="dateOperation" type="xs:string" minOccurs="0" />
<xs:element name="date_n" type="xs:string" minOccurs="0" />
<xs:element name="etat_chu" type="xs:string" minOccurs="0" />
<xs:element name="etat_med" type="xs:string" minOccurs="0" />
<xs:element name="id_operation" type="xs:int" />
<xs:element name="id_pat" type="xs:int" />
<xs:element name="medecin_operation" type="xs:string" minOccurs="0" />
<xs:element name="nom" type="xs:string" minOccurs="0" />
<xs:element name="nom_medecin_prv" type="xs:string" minOccurs="0" />
<xs:element name="prenom" type="xs:string" minOccurs="0" />
<xs:element name="sex" type="xs:string" minOccurs="0" />
<xs:element name="tel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisponinibibiliteResource">
<xs:sequence>
<xs:element name="num_cabinet" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisponinibibiliteResourceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecupereDateOperation">
<xs:sequence />
</xs:complexType>

<xs:complexType name="RecupereDateOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisponinibibiliteMedecin">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisponinibibiliteMedecinResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AllouerResource">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="AllouerResourceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmerOperation">
<xs:sequence>
<xs:element name="ID_op" type="xs:int" />
<xs:element name="DATE" type="xs:string" minOccurs="0" />
<xs:element name="NOM" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmerOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>